* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0b0b0b;
    perspective: 1200px;
    font-family: 'Georgia', serif;
}

/* .house {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    transform-style: preserve-3d;
    transform: rotateX(10deg) rotateY(10deg)
} */

.row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 20px;
    transform-style: preserve-3d;
}

.card {
    width: 120px;
    height: 180px;
    perspective: 1000px;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s;
}

.card.flipped:hover .card-inner {
    border: 2px solid yellow;
    border-radius: 10px;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    border: 2px solid #000;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.4);
}

.card-back {
    background-image: url('../../images/card-back.jpeg');
    background-size: cover;      /* Makes the image cover the whole card */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents tiling */
    color: white;
    transform: rotateY(180deg);
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

.corner {
    font-size: 18px;
    line-height: 1;
}

.corner.top {
    align-self: flex-start;
}
.corner.bottom {
    align-self: flex-end;
    transform: rotate(180deg);
}

.suit {
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red {
    color: #d40000;
}
.black {
    color: #000;
}